.logo {
    width: 25%;
}
  
.nav-theme {
    font-size: 20px;
    /* background-color: var(--primary); */
    background-color: rgba(0,0,0,0.2);
    
}
.nav-links {
    color: white !important;
    font-family: var(--main-font-family);
    text-decoration: none !important;
}
.bold {
    font-style: oblique;
    font-weight: 600px;
}

.nav-links:hover {
    color: var(--accent) !important;
}
.active {
    color: var(--accent) !important;
    border-bottom: 3px solid var(--accent);
}

.animate-navbar {
    animation: moveDown 0.5s ease-in-out;
}

@keyframes moveDown {
    from {
        transform: translateY(-5rem);
    }
    to {
        transform: translateY(0rem);
    }
}