@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
:root {
    --container-width: 90%;
    --primary: #8192C8;
    --white: #FFFFFF;
    --black: #222222;
    --blue: #8dadff;
    --accent: #fec99b;
    --accent-hover: #fea65a;
    --secondary: #eaeef9;
    --main-font-family: 'Open Sans', sans-serif;
};
.container {
    /* width: var(--container-width);
    height: 100%; */
    overflow:hidden;
}

.primary-background {
    background-color: var(--primary);
}

#title {
    color: var(--black);
    font-size: 64px;
}

.text-shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
.small-shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.medium-shadow {
    box-shadow: 5px 5px 4px 5px rgba(0, 0, 0, 0.25);
}

.slope {
    width:110%;
    top:-5%;
    left:-5%;
    transform:rotate(2deg);
    background-color: yellow;
}